/* Vertical Alignment Helpers */

.valign-parent {
	white-space: nowrap;
}

.valign {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.valign-helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}